<div class="container mt-5">

    <h2 class="text-center mb-4">AVAILABLE CARS</h2>

    <div class="row g-5">
        <div class="col-md-4">
            <div class="card h-100 show-sm"
            [routerLink]="['/vehicles', 'audi-a3']" 
              style="cursor: pointer;">
                <img src="assets/images/tazz.jpg" alt="Test image" style="width:300px; height:auto; border:1px solid red;">
                <div class="card-body text-center">
                    <h5 class="card-title">Audi A3</h5>
                      <p class="card-text">
                        AC Fare: Rs. 36/km & R2000/day <br>
                        Non-AC Fare: Rs. 26/km & R1600/day
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
