<div class="vehicle-view-container">
    <div class="vehicle-view-content">
        <div class="image-section">
            <img src="../../assets/images/mathieu-buquet-4WBvCqeMaDE-unsplash.jpg" alt="vehicle image">
        </div>
        <div class="vehicle-detail-section">
            <p class="vehicle-name">Audi A3</p>
            <p class="vehicle-model">Most areas of the programme have been very 
                useful, but I felt that some of the theoretical sessions were less 
                impactful compared to the practical work. I learn best by doing, 
                so I think the programme could focus even more on 
                hands-on coding exercises and project-based learning</p>
        </div>
        <div class="vehicle-details"></div>
        <div class="vehicle-description">Description</div>
        <div class="features">Features</div>
    </div>
</div>