//colors
$primary-color:#185951;
$secondary-color:#f5f5f5;
$blackish-color:#141616;
$greyish-color:#646867;
$secondary-grey:#e8e8e8;
$white-color:#ffffff;

//font sizing
$font-size54:54px;
$font-size16:16px;
$font-size18:18px;
$font-size22:22px;
$font-size24:24px;
$font-size20:20px;

//spacing
$main-padding: 16px;
$secondary-padding: 20px;
$tertiary-padding: 24px;
$zero-padding: 0px;








